{:source-paths ["src/main"]
 :dependencies [[rum "0.12.10" :exclusions [[cljsjs/react] [cljsjs/react-dom]]]
                [clj-commons/citrus "3.3.0"]
                [org.clojure/core.async  "1.6.673"]
                [cider/cider-nrepl "0.31.0"]]
 :nrepl {:host "0.0.0.0" :port 3333}
 :http {:host "0.0.0.0" :port 9630}
 :dev-http {3449 {:host "0.0.0.0" :roots ["resources/public/" "target/" "node_modules/antd/dist/"]}}
 :builds {:app {:output-dir "target/"
                :asset-path "."
                :target :browser
                :modules {:main {:init-fn jukebox-client.core/main}}
                :devtools {:after-load jukebox-client.core/main}
                :release {:closure-defines {jukebox-client.core.environment "prod"}}}}}
